.odd {
    background-color: #666;
    color: #fff;
}

.even {
    background-color: #eee;
    color: #000;
}

body {
    background-color: rgb(0, 93, 172);
    position: absolute;
    top: -10px;
    height: 100%;
    overflow-y: hidden;
}

.titleContainer {
    float: left;
}

.logoImg {
    float: left;
    margin-left: 120px;
    margin-top: 70px; 
}

.teamcontainer {
    background-color: rgb(173, 222, 248);
    width: 660px;
    height: 100%;
    float: left;
    
    -moz-box-shadow: 2px 2px 10px #333;
    -webkit-box-shadow: 2px 2px 10px #333;
    box-shadow: 2px 2px 10px #333;
}

.teamName {
    white-space: pre;
    background-color: rgb(0, 146, 216);
    color: #FFF;
    margin-top: 40px;
    
    -moz-box-shadow: 2px 2px 10px #333;
    -webkit-box-shadow: 2px 2px 10px #333;
    box-shadow: 2px 2px 10px #333;
}

.membertile {
    position: relative;
    margin: 10px 10px 10px 10px;
    background-color: rgb(0, 93, 172);
    color: #fff;
    width: 300px;
    height: 200px;
    cursor: pointer;
    overflow: hidden;

    -moz-box-shadow: 2px 2px 5px #333;
    -webkit-box-shadow: 2px 2px 5px #333;
    box-shadow: 2px 2px 5px #333;
}

.membertile .memberName {
    margin-left: 10px;
    margin-top: 10px;
}

.membertile .dreamText {
    position: absolute;
    bottom: 4px;
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 146, 216);
    color: #fff;
    font-weight: bold;
}

.left {
    float: left;
    margin-left: 5px;
}

.right {
    float: right;
    margin-right: 10px;
}