/* scroll bar */

::-webkit-scrollbar {
    position: absolute;
    width: 10px;
    height: 15px;
    background-color: rgb(0, 93, 172);
    border: none;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(0, 123, 202);
    border: 1px solid rgb(0, 133, 222);
    border-radius: 80px;
}
::-webkit-scrollbar-track-piece {
    border: none;
    position: absolute;
    padding: 10px;
    margin: 20px;
/*
    margin-left: 20px;
    margin-right: 20px;
*/
    box-shadow: none;
    background-color: rgba(0, 63, 152, 0.7);
    border-radius: 80px;
}
body {
    background-color: rgb(0, 93, 172);
    position: absolute;
    margin: 0;
    height: 100%;
    width: auto;
    overflow: hidden;
}
header {
    margin: 0 -9999px;
    padding: 0 9999px;
}

.logoImg {
    float: left;
    margin-left: 100px;
    margin-top: 70px;
    padding-bottom: 20px;
}
/* shadow */

.shadow {
    -moz-box-shadow: 2px 2px 5px #333;
    -webkit-box-shadow: 2px 2px 5px #333;
    box-shadow: 2px 2px 5px #333;
}
.shadowDown {
    -moz-box-shadow: 0px 2px 5px #333;
    -webkit-box-shadow: 0px 2px 5px #333;
    box-shadow: 0px 2px 5px #333;
}
.outerGlow {
    -moz-box-shadow: 0 0 6px rgba(81, 203, 238, 1);
    -webkit-box-shadow: 0 0 6px rgba(81, 203, 238, 1);
    box-shadow: 0 0 6px rgba(81, 203, 238, 1);
}
/* title container */

.titleContainer {
    position: relative;
    float: left;
    z-index: 1;
    max-width: 250px;
}
.titleContainer .banner {
    position: absolute;
    right: 2px;
    color: #fff;
    font-size: 20;
    font-weight: 700;
}

.titleContainer .recruit {
    position: absolute;
    top: 24px;
    right: 8px;
    color: #fff;
    font-size: 20;
    font-weight: 700;
}

a {
    color: #fff;
    font-size: 20;
    cursor: pointer;
}
.game {
    position: absolute;
    bottom: 12px;
    left: 20px;
    color: #fff;
}
.titleContainer .teamName {
/*    position: relative;*/
    background-color: rgb(0, 146, 216);
    color: #FFF;
    margin-top: 60px;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 20px;
    padding-bottom: 10px;
    min-width: 100px;
    font-weight: 700;
}
/* team board style */

.teamcontainer {
    position: relative;
    background-color: rgb(173, 222, 248);
    width: 660px;
    height: 100%;
    float: left;
    z-index: 2;
}
.membertile {
    position: relative;
    margin: 10px 10px 10px 10px;
    background-color: rgb(0, 146, 216);
    color: #fff;
    width: 300px;
    height: 200px;
    cursor: pointer;
    overflow: hidden;
}
.membertile .memberName {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #FFF;
}
.membertile .detail {
    padding: 10px;
    line-height: 26px;
    font-size: 16px;
    font-weight: 600;
    font-family: Tahoma, Arial, "微软雅黑", sans-serif;
    color: #000;
}
.membertile .dreamText {
    position: absolute;
    bottom: 4px;
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 93, 172);
    color: #fff;
    font-weight: bold;
}
.membertile .headImg {
    position: relative;
    float: left;
    top: 2px;
    left: 2px;
    margin-right: 10px;
}
.membertile .scoreTag {
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: #f40;
    color: #fff;
    height: 20px;
    width: 20px;
    text-align: center;
    align-content: 0;
    border-radius: 30px;
    font-weight: 600;
}
.left {
    float: left;
    margin-left: 5px;
}
.right {
    float: right;
    margin-right: 10px;
}
/* welcome board style */

.waiter {
    position: relative;
    left: 500px;
    top: 0;
}
.roundCorner {
    -moz-border-radius: 15px;
    /* Old Firefox */
    border-radius: 15px;
}
.welcomeText {
    background-color: rgb(0, 93, 172);
    color: #fff;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 100px;
    line-height: 30px;
}
.dialogBoxTrianglePos {
    margin-left: 520px;
}
.triangle {
    width: 0;
    height: 0;
    border-width: 20px;
    border-style: solid dashed dashed dashed;
    border-color: rgb(0, 93, 172) transparent transparent transparent;
}
.waiterImg {
    cursor: pointer;
}
/* activity board style */

.activityContainer {
    position: absolute;
    left: 880px;
    margin-left: 20px;
    background-color: rgb(173, 222, 248);
    width: 300px;
    height: 100%;
    float: left;
    z-index: 3;
    overflow-x: hidden;
    overflow-y: auto;
}
.activityContainer .title {
    /*    background-color: rgb(0, 146, 216);*/
    background-color: rgb(0, 93, 172);
    color: #fff;
    width: 100%;
    margin-top: 20px;
    padding: 6px;
    font-size: 20px;
    font-weight: 700;
    
    word-wrap: break-word; 
    word-break: normal; 
}
.activityContainer .activityItem {
    position: relative;
    background-color: rgb(0, 93, 172);
    color: #fff;
    margin-top: 10px;
    font-weight: 600;
    padding: 10px;
    border-left: 4px solid #00FFFF;
    word-wrap: break-word; 
    word-break: normal; 
}
.activityItem .padding {
    padding: 5px 0px 0px 0px;
}