/* scroll bar */

::-webkit-scrollbar {
    position: absolute;
    width: 10px;
    height: 15px;
    background-color: rgb(0, 93, 172);
    border: none;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(0, 123, 202);
    border: 1px solid rgb(0, 133, 222);
    border-radius: 80px;
}
::-webkit-scrollbar-track-piece {
    border: none;
    position: absolute;
    padding: 10px;
    margin: 20px;
    box-shadow: none;
    background-color: rgba(0, 63, 152, 0.7);
    border-radius: 80px;
}
body {
    background-color: rgb(0, 93, 172);
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.bigBox {
    margin:0 auto;
    min-width: 900px;
    max-width: 900px;
}

.logoImg {
    float: left;
    margin-left: 40px;
    margin-top: 20px;
    padding-bottom: 20px;
}
/* shadow */

.shadow {
    -moz-box-shadow: 2px 2px 5px #333;
    -webkit-box-shadow: 2px 2px 5px #333;
    box-shadow: 2px 2px 5px #333;
}
.shadowDown {
    -moz-box-shadow: 0px 2px 5px #333;
    -webkit-box-shadow: 0px 2px 5px #333;
    box-shadow: 0px 2px 5px #333;
}
.outerGlow {
    -moz-box-shadow: 0 0 6px rgba(81, 203, 238, 1);
    -webkit-box-shadow: 0 0 6px rgba(81, 203, 238, 1);
    box-shadow: 0 0 6px rgba(81, 203, 238, 1);
}
/* title container */

.titleContainer {
    position: relative;
    z-index: 1;
}
.titleContainer .banner {
    position: absolute;
    right: 2px;
    color: #fff;
    font-size: 20;
    float: left;
    font-weight: 700;
    top: 70px;
}

a {
    color: #fff;
    font-size: 20;
    cursor: pointer;
    text-decoration: none;
}

.githubCode {
    font-size: 15;
}

.game {
    position: absolute;
    top: 20px;
    right: 8px;
    color: #fff;
    font-size: 20;
    font-weight: 700;
}
.titleContainer .teamName {
    background-color: rgb(0, 146, 216);
    color: #FFF;
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 130px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-weight: 700;
}


.contentContainer {
    margin-top: -10px;
}



/* team board style */

.teamcontainer {
    position: absolute;
    background-color: rgb(173, 222, 248);
    width: 590px;
    height: 86%;
    float: left;
    z-index: 2;
    overflow-y: auto;
}
.membertile {
    position: relative;
    margin: 10px 10px 10px 10px;
    background-color: rgb(0, 146, 216);
    color: #fff;
    height: 240px;
    /*cursor: pointer;*/
    overflow: hidden;
}

.header {
    position: relative;
    text-align: center;
}

.membertile .memberName {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #FFF;
    padding-top: 5px;
    display: inline-block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.membertile .detail {
    position: relative;
    padding: 10px;
    line-height: 26px;
    font-size: 16px;
    font-weight: 600;
    font-family: Tahoma, Arial, "微软雅黑", sans-serif;
    color: #000;
}
.membertile .dreamText {
    position: absolute;
    bottom: 4px;
    width: 98%;
    padding: 10px;
    background-color: rgb(0, 93, 172);
    color: #fff;
    font-weight: bold;
}
.membertile .headImg {
    position: relative;
    top: 2px;
    left: 2px;
    margin-right: 10px;
    display: block;
}
.membertile .scoreTag {
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: #f40;
    color: #fff;
    height: 20px;
    width: 20px;
    text-align: center;
    align-content: 0;
    border-radius: 30px;
    font-weight: 600;
}

/* welcome board style */

.waiter {
    position: relative;
    left: 360px;
    top: 0;
    width: 100px;
}
.roundCorner {
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.welcomeText {
    background-color: rgb(0, 93, 172);
    color: #fff;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 100px;
    line-height: 30px;
    width: 530px;
}
.dialogBoxTrianglePos {
    margin-left: 400px;
}
.triangle {
    width: 0;
    height: 0;
    border-width: 20px;
    border-style: solid dashed dashed dashed;
    border-color: rgb(0, 93, 172) transparent transparent transparent;
}
.waiterImg {
    cursor: pointer;
}

/* activity board style */
.activityContainer {
    position:relative;
    margin-left: 4px;
    background-color: rgb(173, 222, 248);
    width: 300px;
    height: 86%;
    float: right;
    z-index: 3;
    overflow-x: hidden;
    overflow-y: auto;
}

.activityContainer .title {
    background-color: rgb(0, 93, 172);
    color: #fff;
    width: 100%;
    margin-top: 20px;
    padding: 6px;
    font-size: 20px;
    font-weight: 700;
    word-wrap: break-word; 
    word-break: normal; 
}

.activityContainer .timeline {
    position: relative;
    float: left;
    margin-left: 30px;
    width: 4px;
    background-color: rgb(0, 93, 172);
    height: 100%;
    border: solid 1px rgb(0, 93, 172);
    -moz-box-shadow: 0 0 -6px rgba(173, 222, 248, 0.5);
    -webkit-box-shadow: 0 0 -6px rgba(173, 222, 248, 0.5);
    box-shadow: 0 0 -6px rgba(173, 222, 248, 0.5);
}

.activityContainer .activityItem {
    position: relative;
    float: right;
    clear: right;
    width: 200px;
    color: rgb(0, 93, 172);
    margin-top: 10px;
    margin-right: 20px;
    font-weight: 600;
    font-family: "微软雅黑";
    padding-bottom: 20px;
    padding-top: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    word-wrap: break-word;
    word-break: normal;
}
.activityItem .padding {
    padding: 5px 0px 0px 0px;
}

.round {
    position: absolute;
    top: 15px;
    left: -62px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    text-align: center; 
    
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    
    color: #fff;
    background-color: rgb(0, 93, 172);
    -moz-box-shadow: 0 0 -6px rgba(173, 222, 248, 0.5);
    -webkit-box-shadow: 0 0 -6px rgba(173, 222, 248, 0.5);
    box-shadow: 0 0 -6px rgba(173, 222, 248, 0.5);
}i



