
<div class="activityItem">
    <div class="leftItem">
        <div class="timeline timelineShadow"> </div>
        <div unselectable="on" class="round timelineShadow">
            {{dateTime.time}}
        </div>
    </div>
    <div class="rightItem">
        <div class="baseLine"></div>
        <p></p>
        <div> 
            <div>
                <a class="amTitle" href="#">AM：{{AMName}}</a>
            </div>
        </div>
        <p></p>
        <div> 
            <div class="pmTitle">
                PM：{{PMName}}
            </div>
        </div>
        
    </div>
    
</div>