
<div class="activityItem">
    <div class="leftItem">
        <div class="timeline timelineShadow"> </div>
        <div unselectable="on" class="round timelineShadow">
            {{dateTime.time}}
        </div>
    </div>
    <div class="rightItem">
        <div class="baseLine"></div>
    <!--
        <div>
            日期：{{dateTime}}
        </div>
    -->
        <p></p>
        <div> 
            <div>
                AM：{{AMName}}
            </div>
    <!--
            <div class="padding">
                {{{AMDetail}}}
            </div>
    -->
        </div>
        <p></p>
        <div> 
            <div>
                PM：{{PMName}}
            </div>
    <!--
            <div class="padding">
                {{{PMDetail}}}
            </div>
    -->
        </div>
        
    </div>
    
</div>