<h1 style="background-color:#f0f0f0;">Fundamental | 基础篇</h1>
<div>
    <h3>数据类型</h3>
    <div>c</div>
    <div>c++</div>
    <div>java</div>
    <div>golang</div>
    <div>javascript</div>
    <div>python</div>
    <div>c#</div>
</div>
<div>
    <h3>运算符</h3>
    <div>c</div>
    <div>c++</div>
    <div>java</div>
    <div>golang</div>
    <div>javascript</div>
    <div>python</div>
    <div>c#</div>
</div>
<div>
    <h3>控制逻辑</h3>
    <div>c</div>
    <div>c++</div>
    <div>java</div>
    <div>golang</div>
    <div>javascript</div>
    <div>python</div>
    <div>c#</div>
</div>
<div>
    <h3>作用域</h3>
    <div>c</div>
    <div>c++</div>
    <div>java</div>
    <div>golang</div>
    <div>javascript</div>
    <div>python</div>
    <div>c#</div>
</div>
<div>
    <h3>内存占用</h3>
    <div>c</div>
    <div>c++</div>
    <div>java</div>
    <div>golang</div>
    <div>javascript</div>
    <div>python</div>
    <div>c#</div>
</div>
<div>
    <h3>数据持久化</h3>
    <div>c</div>
    <div>c++</div>
    <div>java</div>
    <div>golang</div>
    <div>javascript</div>
    <div>python</div>
    <div>c#</div>
</div>
<div>
    <h3>数据结构</h3>
    <div>c</div>
    <div>c++</div>
    <div>java</div>
    <div>golang</div>
    <div>javascript</div>
    <div>python</div>
    <div>c#</div>
</div>
<div>
    <h3>函数</h3>
    <div>c</div>
    <div>c++</div>
    <div>java</div>
    <div>golang</div>
    <div>javascript</div>
    <div>python</div>
    <div>c#</div>
</div>

<h1 style="background-color:#f0f0f0;">Medium | 进阶篇</h1>
<div>
    <h3>模块化</h3>
    <div>c</div>
    <div>c++</div>
    <div>java</div>
    <div>golang</div>
    <div>javascript</div>
    <div>python</div>
    <div>c#</div>
</div>
<div>
    <h3>多线程</h3>
    <div>c</div>
    <div>c++</div>
    <div>java</div>
    <div>golang</div>
    <div>javascript</div>
    <div>python</div>
    <div>c#</div>
</div>
<div>
    <h3>网络通信</h3>
    <div>c</div>
    <div>c++</div>
    <div>java</div>
    <div>golang</div>
    <div>javascript</div>
    <div>python</div>
    <div>c#</div>
</div>
<div>
    <h3>调优</h3>
    <div>c</div>
    <div>c++</div>
    <div>java</div>
    <div>golang</div>
    <div>javascript</div>
    <div>python</div>
    <div>c#</div>
</div>

<h1 style="background-color:#f0f0f0;">Advanced | 高级篇</h1>
<div>
    <h3>语言特性分析及实现</h3>
    <div>c</div>
    <div>c++</div>
    <div>java</div>
    <div>golang</div>
    <div>javascript</div>
    <div>python</div>
    <div>c#</div>
</div>
<div>
    <h3>语言陷阱</h3>
    <div>c</div>
    <div>c++</div>
    <div>java</div>
    <div>golang</div>
    <div>javascript</div>
    <div>python</div>
    <div>c#</div>
</div>