<ul class="tabs" data-tab>
    <li class="tab-title active"><a href="#team-panel">团队</a>
    </li>
    <li class="tab-title"><a href="#radar-panel">雷达</a>
    </li>
    <li class="tab-title"><a href="#language-panel">语言</a>
    </li>
    <li class="tab-title"><a href="#code-panel">代码</a>
    </li>
    <li class="tab-title"><a href="#thought-panel">感悟</a>
    </li>
    <li class="tab-title"><a href="#challenge-panel">挑战</a>
    </li>
</ul>

<div class="tabs-content">
    <div class="content active" id="team-panel"></div>
    <div class="content" id="radar-panel"></div>
    <div class="content" id="language-panel"></div>
    <div class="content" id="code-panel">学以致用，关于代码实践的相关信息收集</div>
    <div class="content" id="thought-panel"></div>
    <div class="content" id="challenge-panel"></div>
</div>